---
import ContactForm from './ContactForm';
---

<div class="bg-[--clr-soft-blue] py-20 text-white">
  <div class="text-center px-4 sm:max-w-[--max-w] sm:mx-auto">
    <small class="uppercase tracking-[0.2em] sm:tracking-[0.3em] sm:text-lg">35,000+ already joined</small>
    <h1 class="text-2xl sm:text-4xl sm:w-2/5 sm:mx-auto font-bold mt-4 sm:pt-8">Stay up-to-date with what we're doing</h1>
    <div class="mt-10 flex flex-col sm:w-1/2 sm:mx-auto">
      <ContactForm client:load/>
    </div>
  </div>
</div>