---
import { Button } from '@/components/ui/button';
---

<main>
  <div
    class='grid grid-rows-2 sm:grid-cols-2 sm:max-w-[--max-w] sm:mx-auto sm:layout-padding'
  >
    <!-- illus -->
    <div class='relative sm:order-2 sm:left-24'>
      <img src='/images/illustration-hero.svg' alt='hero image' />
      <span class='hero-bg'></span>
    </div>
    <div class='self-center text-center sm:text-left mt-8'>
      <h1 class='text-4xl sm:text-6xl font-medium'>A Simple Bookmark Manager</h1>
      <p class='mt-6 text-[--clr-grayish-blue] w-4/5 mx-auto sm:w-4/5 sm:text-xl sm:mx-0'>
        A clean and simple interface to organize your favourite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
      <div class="mt-6 [&>*]:mx-2 sm:[&>*]:ml-0 sm:[&>*]:mr-4">
        <Button variant={'btnPrimary'} size={'main'}>Get it on Chrome</Button>
        <Button variant={'btnSecondary'} size={'main'}>
          Get it on Firefox
        </Button>
      </div>
    </div>
  </div>
</main>
