---
---

<main>
  <div class='grid grid-rows-2'>
    <!-- illus -->
    <div class='relative'>
      <img src='/images/illustration-hero.svg' alt='hero image' />
      <span class='hero-bg'></span>
    </div>
    <div class='self-center text-center mt-8'>
      <h1 class='text-4xl font-medium'>A Simple Bookmark Manager</h1>
      <p class='mt-6 text-[--clr-grayish-blue] w-4/5 mx-auto'>
        A clean and simple interface to organize your favourite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
    </div>
  </div>
</main>
